.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    background-color: white;
}

.logo-holder{
    display: flex;
    padding-left: 2rem;
}

.logo-holder > h3{
    margin-left: 1rem;
}